@{
    //nesta zona escrevemos código C#
    ViewData["Title"] = "Eq. 2 Grau";
}


<!-- nesta zona vamos escrever HTML-->
@* este outro comentário está feito em Razor e é invisivel no broswer *@
<div class="text-center">
    <h1 class="display-4">Calculo das Raízes de uma equação de 2ºGrau</h1>

</div>

<!-- envia tudo para o servidor (form)-->
<form>
<p>
introduza, por favor os valores dos parâmetros da equação <br/>
</p>
<b>a:</b> <input type="text"/>
<br />
<b>b:</b>
<input type="text" />
<br />
<b>c:</b>
<input type="text" />
<br />
<input type="submit" value="Calcular"/>
</form>


