@{
    //nesta zona escrevemos código C#
    ViewData["Title"] = "Home Page";
}


<!-- nesta zona vamos escrever HTML-->
@* este outro comentário está feito em Razor e é invisivel no broswer *@
<div class="text-center">
    <h1 class="display-4">Calculo das Raízes de uma equação de 2ºGrau</h1>

</div>
